@model CleanArchitecture.Application.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstNameGeorgian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstNameGeorgian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstNameLatin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstNameLatin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.SecondNameGeorgian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.SecondNameGeorgian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.SecondNameLatin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.SecondNameLatin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.IdentityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.IdentityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.BornDate)
        </dt>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd class="col-sm-10">
           <!---Show the image-->
            <img src="@("~/Images/"+Model.Person.ImageName)" asp-append-version="true" width="250" height="250" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Person.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
